body {
    background: linear-gradient(135deg, #f0f4f8 30%, #e2e8f0 90%);
    height: 100vh; /* Faz o body ocupar toda a altura da viewport */
    margin: 0; /* Remove margens padrão do body */
    display: flex; /* Usa flexbox para centrar o contêiner */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    font-family: 'Arial', sans-serif; /* Mude para uma fonte mais estilizada, se desejar */
}

.container {
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: flex-start; /* Alinha os itens à esquerda */
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    color: #333;
    transition: box-shadow 0.3s;
    border-radius: 10px; /* Bordas arredondadas para o contêiner */
}

.image-text-container {
    display: flex;
    flex-direction: row; /* Alinha as imagens e texto horizontalmente */
    align-items: flex-start; /* Alinha o texto ao topo da imagem */
    width: 100%; /* Ocupa toda a largura da .container */
}

.image-container {
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}

.image-container img {
    display: block; /* Remove o espaçamento indesejado abaixo das imagens */
    max-width: 100%; /* Faz com que a imagem não exceda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Bordas arredondadas para as imagens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra nas imagens */
}

.text-container {
    display: flex; /* Usa flexbox para centralizar verticalmente o texto */
    flex-direction: column; /* Alinha o texto em coluna */
    justify-content: center; /* Centraliza verticalmente o texto */
    height: 100%; /* Faz com que a text-container ocupe toda a altura disponível */
    line-height: 1.6; /* Melhora a legibilidade */
}

.back-button-container {
    margin-top: 20px; /* Espaço acima do botão para separar das imagens e texto */
    text-align: center; /* Centraliza o botão horizontalmente */
    width: 100%; /* Faz com que o botão ocupe toda a largura disponível */
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s; /* Animação na transição */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra no botão */
}

.back-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px); /* Eleva o botão ao passar o mouse */
}
