<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ original_text }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='carta_individual.css') }}">
</head>
<body>
    <div class="container">
        <div class="image-text-container">
            <div class="image-container">
                <img src="{{ normal_image_url }}" alt="Imagem da carta {{ original_text }}">
                <img src="{{ normal_image_url2 }}" alt="">
            </div>

            <div class="text-container">
                <h2>Texto em inglês:</h2>
                <p>{{ oracle_texto | safe }}</p>  <!-- Aplica 'safe' para que as quebras de linha sejam interpretadas -->
                <p style="font-style: italic;">{{ flavor_original | safe }}</p>

                <h2>Tradução:</h2>
                <p>{{ translated | safe }}</p>  <!-- Aplica 'safe' na tradução -->
                <p style="font-style: italic;">{{ flavor_translated | safe }}</p>
            </div>
        </div>

        <!-- Adicionando o botão de voltar -->
        <div class="back-button-container">
            <a href="{{ url_for('home') }}" class="back-button">Voltar</a>
        </div>
    </div>
</body>
</html>
